h1 {

	font-family:'Great Vibes';
	margin-top: 0;
	padding-left: 60px;
	padding-top: 20px;
    padding-bottom: 20px;
    font-size: 80px;
    color:white;
}
#topp {
		background-color:#ffafcf;
}

.overskrift{
	margin-left:400px;
}

h2{
	font-family: 'Cookie', cursive;
	font-size: 45px;
}

li a{
	color: #e5427e;
}

h3{
	font-family: 'Neucha', cursive;
	font-size: 
}

#text{
	margin-right: 200px;
	margin-left: 150px;
	font-family: 'Italianno', cursive;
	font-size: 60px
}

h4{
	font-family:  'Quintessential', cursive;
	font-size: 20px
}


#cupcake{
	margin-left: 40px;
	

}